<launch>
    
    <rosparam command="load" file="$(find robocup_receptionist)/config/test.yaml" />

    <node name="face_detection_server" pkg="robocup_face_recognition" type="face_detection_server.py" output="screen" respawn="true"></node>
    <node name="face_embedding_server" pkg="robocup_face_recognition" type="face_embedding_server.py" output="screen" respawn="true"></node>
    <node name="face_age_and_gender_server" pkg="robocup_face_recognition" type="face_age_and_gender_server.py" output="screen" respawn="true"></node>

    <node pkg="lasr_object_detection_yolo" type="object_detection_server.py" name="yolo_detection" args="" output="screen" />
    <node pkg="robocup_receptionist" type="smach_test.py" name="smach_test" args="" output="screen" />


</launch>